
@media (min-width: 1850px) {
    .heading--left {
        padding-left: 0.8em;  //it centers heading in header right above buttons
    }
}

@media (max-width: 1600px) {
    .button__heading {
        font-size: 3em;
        padding: 1rem;
        margin-top:0.5em
    }

}

@media (max-width: 1100px) {

    .button__heading {
        font-size: 2em;
        padding: 1rem;
        margin-top:0.5em
    }

    .section--teachers {
        flex-direction: column;
    }

    .section--teachers__column {
        max-width: 100%;
        padding: 0;
    }

    .button__section {
        margin-bottom: 3rem;
    }

    .u--margin--top__big {
        margin-top: 1.2rem;
    }


}

@media (max-width: 750px) {
    .u--margin--top__big {
        margin-top: 3em
    }

    //navigation

    .nav{
        flex-direction: column;
    }

    .nav__logo {
        padding: 0;
        padding-top: 2rem;
    }

    .nav__item a {
        padding: 1.5rem 1rem;
    }

    //heading

    .heading {
        font-size: 4.5em
    }

    .heading__paragraph {
        font-size: 1.7em;
        padding-top: 1.5em;
    }

    .button__heading {
        font-size: 2em;
        padding: 1rem;
        margin-top:0.5em
    }

    //section


    .section__container {
        max-width: 85%;
    }

    .section--courses, .section--aboutus {
        flex-direction: column;
    }

    .section--courses__column, .section--aboutus--content {
        max-width: 100%;
        padding: 0
    }

    .section--courses__paragraph {
        padding-top:0
    }

    .section--aboutus__right {
        font-size: 5rem
    }

    .section--aboutus {
        padding-bottom: 3rem
    }

    //footer

    footer {
        p {
            top: 5%;
            right: 13%;
        }
    }

    .footer__container {
        justify-content: space-between
    }

    .footer__nav {
        padding-top: 3rem;
    }

    .footer__item {
        padding: 1.5rem 1rem
    }
}
