// colors
$body-color: hsl(48, 100%, 72%);


$heading-first: hsl(0, 100%, 100%);

$heading-second: hsl(0, 100%, 0%);

$heading-third: hsl(0, 5%, 33%);


$nav-first: hsla(0, 0%, 0%, 0.2);

$nav-second: hsla(0, 0%, 0%, 0.7);

$nav-third:hsl(0, 100%, 100%);


$button-shadow-first: rgba(0,0,0,0.24);

$button-shadow-second: rgba(0,0,0,0.19);

$button-color-first: hsl(0, 100%, 100%);

$button-color-second: hsl(0, 100%, 0%);


$section-paragraph: hsl(0, 0%, 50%);


$footer-background: hsl(0, 100%, 0%);

$footer-text: hsl(0, 0%, 80%);

$footer-nav: hsl(0, 100%, 100%);



$text-small: 1.6em;

$text-medium: 3.2em;

// heading

$h-fs: 7em;


// section

$s-fs-heading: 5em;

$s-fs-paragraph: 2em;
