@use '../abstracts/variables' as v;

footer {
    background-color: v.$footer-background;
    width:100%;

    p {
        color: v.$footer-text;
        position: absolute;
        bottom: 10%;
        right: 0%;
    }
}

.footer__nav {
    list-style: none;
    font-weight: 700;
    padding-inline-start: 0;
}

.footer__container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.footer__item {
        padding: 1rem 10rem 1rem 0;

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: v.$footer-nav-color;
        font-size: v.$text-small;
    }
}