@use '../abstracts/variables' as v; 
@use '../base/typography' as t; 


.nav {
    background-color: v.$nav-background-color;
    display: flex;
    justify-content: space-around;
    align-items: center;

        &__logo {
            padding: 3rem  
        }

        &__links {
            list-style: none;
            display: flex;
            font-weight: 700;
            font-size: v.$text-small;
        }

        &__item a {
            display: inline-block;
            text-decoration: none;
            color: v.$nav-color;
            padding: 4rem 2rem;
            text-transform: uppercase;
        }

        &__item:hover a {
            background-color: v.$nav-background-color-hover ;
        }
            
}
