@use '../abstracts/variables' as v; 
@use '../base/typography' as t; 


.nav {
    background-color: v.$nav-background-color;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;

        &__logo {
            padding: 3rem  
        }

        &__hamburger {
            display: none;
            background-color: transparent;
            border: 0;
            color: white;
            font-size: v.$text-medium;
            cursor: pointer;
        }

        &__links {
            list-style: none;
            display: flex;
            font-weight: 700;
            font-size: v.$text-small;
        }

        &__item a {
            display: inline-block;
            text-decoration: none;
            color: v.$nav-color;
            padding: 4rem 2rem;
            text-transform: uppercase;
        }

        &__item:hover a {
            background-color: v.$nav-background-color-hover ;
        }           
}

